.pagination {
    padding: 70px 10px 10px 10px;
    display: flex;
    justify-content: center;
    height: 48px;
    .pagesBlock {
        max-width: 610px;
        background-color: rgb(241, 241, 241);
        padding: 0 0 2px 0;
        display: flex;
        .page {
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 400;
            font-size: 14px;
            margin: 0 1px 0 1px;
            width: 45px;
            height: 45px;
            background-color:rgb(255, 255, 255);
            padding: 0 7px 1px 7px;
            color: rgb(58, 79, 199);
            border-radius: 0px;
            cursor: pointer;
            box-shadow: 0 0 1px -1px black;
            &:hover {
                background-color: rgb(241, 241, 241);
            }
        }
        .active {
            background-color: #fff;
            color: rgb(128, 167, 52);
        }
    }
    .button {
        background-color: rgb(255, 255, 255);
        box-shadow: 0 0 2px 1px purple;
        border: none;
        border-radius: 1px;
        cursor: pointer;
        padding: 5px 15px 5px 15px;
        &:hover {
            color: black;
            background-color: rgb(255, 226, 255);
        }
    }
    .next, .prev {
        background-color: rgb(255, 255, 255);
        width: 50px;
        height: 47px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        &:hover {
            transition: all ease-in 0.2s;
            background-color: #fff;
        }
        &:hover .left{
            transition: all ease-in 0.2s;
            fill: rgb(124, 168, 35);
        }
    }
    .next {
        border-radius: 0 25px 25px 0;
        .right {
            fill: rgb(0, 0, 0);
            width: 18px;
            height: 18px;
        }
        &:hover .right{
            transition: all ease-in 0.2s;
            fill: rgb(124, 168, 35);
        }
    }
    .prev {
        border-radius: 25px 0 0 25px;
        .left {
            fill: rgb(0, 0, 0);
            width: 18px;
            height: 18px;
        }
    }
    .disabled {
        opacity: 0.2;
        cursor:auto;
        &:hover {
            color: black;
            background-color: #fff;
            opacity: 0.6;
        }
    }
}